@import '../../styles/variables.scss';

.breadcrumb-container {
  display: flex;
  justify-content: flex-start;
  gap: $a38-gap;
  margin-bottom: 24px;

  .step-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 6px;
    border-bottom: 1px solid $a38-black;
    font-size: $font-size-1;
    text-align: left;

    &.active {
      color: $a38-green;
      border-bottom: 1px solid $a38-green;
    }
  }
}
