@import '../../styles/variables.scss';

.wizard-container {
  margin: 0 auto;
  width: 100%;
  height: auto;
  box-shadow: $a38-shadow;
  border-radius: $a38-border-radius;
  padding: $a38-default-padding;
  margin-top: $a38-default-padding;
  border: 1px solid $a38-dark-white;

  @include mediaMd {
    width: 840px;
  }
}
