@import '../../styles/variables.scss';

.sum-container {
  margin-top: 24px;
  border-top: 1px solid $a38-light-grey;
  display: flex;
  justify-content: space-between;
  padding: 12px $a38-default-padding;
}
