$a38-light-grey: #ddd;
$a38-dark-white: #eee;
$a38-white: #fff;
$a38-black: #222;
$a38-green: #416F43;

$primary-font: 'Montserrat', sans-serif;

$font-size-1: 12px;
$font-size-2: 16px;
$font-size-3: 24px;

$a38-default-padding: 24px;
$a38-border-radius: 16px;
$a38-border-radius-small: 6px;
$a38-shadow: 0px 2px 3px rgba($a38-black, 0.25);
$a38-gap: 24px;

$breakpoint-md: 900px;
$max-width: 1280px;

@mixin mediaMd {
  @media screen and (min-width: $breakpoint-md) {
    @content;
  }
}

@mixin mediaLg {
  @media screen and (min-width: $max-width) {
    @content;
  }
}
