@import '../../styles/variables.scss';

.user-form-container {
  label {
    input {
      width: 100%;
      height: 36px;
      box-shadow: $a38-shadow;
      border-radius: $a38-border-radius-small;
      padding: $a38-default-padding;
      border: none;
      font-family: 'Montserrat', sans-serif;
    }

    .error-block {
      display: flex;
      height: 24px;
      color: red;
      justify-content: flex-start;
      align-items: center;
      font-size: $font-size-1;
    }
  }
}
